---
pagination:
  data: galleries
  size: 1
  alias: gallery
permalink: "/gallery/{{ gallery.name | slugify }}/"
layout: gallery
---

{% assign galleryName = gallery.name %}
{% assign galleryHero = gallery.images[0] %}

<header class="h-100 w-100">
  <img class="w-full" loading="lazy" srcset="{{ galleryHero.url }}?tr=w-400, {{ galleryHero.url }}?tr=w-800 2x" src="{{ galleryHero.url }}?tr=w-800" alt="Hero Image for {{ galleryName }}"></img>
</header>

<div class="tabs w-full">
  <h1 class="xl:text-8xl md:text-5xl text-5xl text-slate-100 tracking-wider leading-snug font-sans font-bold italic text-center animate-appear-quicker opacity-0 flex sm:block flex-col">
    {{ galleryName }}
  </h1>
  <div role="tablist" aria-labelledby="tablist-1" class="automatic xl:py-6 md:py-5 py-4 px-4 w-full flex">
    {% for alb in gallery.albums %}
      {% assign album = alb[1] %}
      <p class="lg:text-3xl text-2xl text-slate-900 tracking-wider leading-snug font-sans font-bold">
        <button id="tab-{{ album.name | slugify }}" type="button" role="tab" aria-selected="true" aria-controls="tabpanel-{{ album.name | slugify }}">
          <span class="focus">{{ album.name }}</span>
        </button>
      </p>
    {% endfor %}
  </div>
  {% for alb in gallery.albums %}
    {% assign album = alb[1] %}

    <div id="tabpanel-{{ album.name | slugify }}" role="tabpanel" tabindex="0" aria-labelledby="tab-{{ album.name | slugify }}" class="is-hidden">
      <div class="flex flex-col items-center mx-5">
        <div class="masonry flex">
          <div class="masonry-col masonry-col--1 mr-1 flex-1"></div>
          <div class="masonry-col masonry-col--2 mx-1 flex-1 hidden md:block"></div>
          <div class="masonry-col masonry-col--3 mx-1 flex-1 hidden lg:block"></div>
          <div class="masonry-col masonry-col--4 mx-1 flex-1 hidden 2xl:block"></div>
          <div class="masonry-col masonry-col--5 mx-1 flex-1 hidden 3xl:block"></div>
          <div class="masonry-col masonry-col--6 mx-1 flex-1 hidden 4xl:block"></div>

          {% for item in album.images %}
            <div class="masonry-item mb-2 relative">
              <div class="w-full h-full flex flex-col justify-end bg-fade absolute md:opacity-0 opacity-100 hover:opacity-100 transition-all">
                <div class="flex justify-end text-gray-50 mb-2">
                  <button class="w-6 mx-2 opacity-60 hover:opacity-100 download-link" data-url="/.netlify/images?url={{ item.url }}" data-download="{{ item.url | split: '/' | last }}">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
                    </svg>
                  </button>
                  <!-- <a class="w&#45;6 mx&#45;2 opacity&#45;60 hover:opacity&#45;100" href="/.netlify/images?url={{ item.url }}" download="{{ item.url | split: '/' | last }}"> -->
                  <!--   <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke&#45;width="1.5" stroke="currentColor" class="size&#45;6"> -->
                  <!--     <path stroke&#45;linecap="round" stroke&#45;linejoin="round" d="M21 8.25c0&#45;2.485&#45;2.099&#45;4.5&#45;4.688&#45;4.5&#45;1.935 0&#45;3.597 1.126&#45;4.312 2.733&#45;.715&#45;1.607&#45;2.377&#45;2.733&#45;4.313&#45;2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9&#45;4.78 9&#45;12Z" /> -->
                  <!--   </svg> -->
                  <!-- </a> -->
                  <!-- <a class="w&#45;6 ml&#45;2 mr&#45;4 opacity&#45;60 hover:opacity&#45;100" href="/.netlify/images?url={{ item.url }}" download="{{ item.url | split: '/' | last }}"> -->
                  <!--   <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke&#45;width="1.5" stroke="currentColor" class="size&#45;6"> -->
                  <!--     <path stroke&#45;linecap="round" stroke&#45;linejoin="round" d="M8.625 12a.375.375 0 1 1&#45;.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1&#45;.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1&#45;.75 0 .375.375 0 0 1 .75 0Zm0 0h&#45;.375M21 12a9 9 0 1 1&#45;18 0 9 9 0 0 1 18 0Z" /> -->
                  <!--   </svg> -->
                  <!-- </a> -->
                </div>
              </div>
                <img class="h-auto max-w-full lazyload" width="500px" height="auto" src="{{ item.url }}?tr=w-500,q-10,bl-30" data-srcset="{{ item.url }}?tr=w-500 500w, {{ item.url }}?tr=w-1000 1000w" data-src="{{ item.url }}?tr=w-1000" alt="Image for {{ album.name }}"></img>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<script>
  window.onload = function() {
    const downloadLinks = document.getElementsByClassName("download-link");

    Array.from(downloadLinks).forEach(function (link) {
      link.onclick = async function () {
        var blob;
        try {
          const modal = document.getElementById("modal-loading");
          modal.classList.remove('hidden');

          const res = await fetch(link.dataset.url);
          blob = await res.blob();

          if (navigator.share) {
            await navigator.share({ files: [new File([blob], link.dataset.download)] });
          } else {
            doDownload(blob, link.dataset.download);
          }

          modal.classList.add('hidden');
        } catch (e) {
          document.getElementById("modal-loading").classList.add('hidden');
          console.error(e);
          if (blob) {
            doDownload(blob, link.dataset.download);
          } else {
            var a = document.createElement("a");
            a.href = link.dataset.url;
            a.download = download;
            a.target = "_blank";
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
          }
        }
      }
    });
  }

  function doDownload(blob, download) {
    var a = document.createElement("a");
    a.href = URL.createObjectURL(blob);
    a.download = download;
    a.target = "_blank";
    document.body.appendChild(a);
    a.click();
    document.body.removeChild(a);
  }
</script>

<div id="modal-loading" class="hidden flex justify-center align-center w-full h-[100vh] absolute bg-[#00000088] top-[0] left-[0]">
  <svg class="rotate w-[50px]" style="fill: white;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M272 112C272 85.5 293.5 64 320 64C346.5 64 368 85.5 368 112C368 138.5 346.5 160 320 160C293.5 160 272 138.5 272 112zM272 528C272 501.5 293.5 480 320 480C346.5 480 368 501.5 368 528C368 554.5 346.5 576 320 576C293.5 576 272 554.5 272 528zM112 272C138.5 272 160 293.5 160 320C160 346.5 138.5 368 112 368C85.5 368 64 346.5 64 320C64 293.5 85.5 272 112 272zM480 320C480 293.5 501.5 272 528 272C554.5 272 576 293.5 576 320C576 346.5 554.5 368 528 368C501.5 368 480 346.5 480 320zM139 433.1C157.8 414.3 188.1 414.3 206.9 433.1C225.7 451.9 225.7 482.2 206.9 501C188.1 519.8 157.8 519.8 139 501C120.2 482.2 120.2 451.9 139 433.1zM139 139C157.8 120.2 188.1 120.2 206.9 139C225.7 157.8 225.7 188.1 206.9 206.9C188.1 225.7 157.8 225.7 139 206.9C120.2 188.1 120.2 157.8 139 139zM501 433.1C519.8 451.9 519.8 482.2 501 501C482.2 519.8 451.9 519.8 433.1 501C414.3 482.2 414.3 451.9 433.1 433.1C451.9 414.3 482.2 414.3 501 433.1z"/></svg>
</div>

<style>
@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.rotate {
  animation: loading 3s linear infinite;
}
<script src="/js/lazysizes.min.js" async></script>
