<div class="masonry">
  <div class="masonry-col masonry-col--1 mr-1"></div>
  <div class="masonry-col masonry-col--2 mx-1"></div>
  <div class="masonry-col masonry-col--3 mx-1"></div>
  <div class="masonry-col masonry-col--4 ml-1"></div>

  {% for item in items %}
    <div class="masonry-item mb-2">
      {% if item.mime contains "video" %}
        <video class="video-item w-full" controls src="{{ item.url }}?tr=w-800"></video>
      {% else %}
        <img class="w-full" srcset="{{ item.url }}?tr=w-400, {{ item.url }}?tr=w-800 2x" src="{{ item.url }}?tr=w-800" alt="Image for {{ client }}"></img>
      {% endif %}
    </div>
  {% endfor %}
</div>
