<div class="masonry-item mb-2">
  <a href="{{ project.url }}">
    <div class="w-full group relative project-video">
      <div class="w-full h-full flex relative items-center overflow-hidden pointer-events-none">
        {% if project.data.gifv_url %}
          <img class="w-full mouse:hidden block" srcset="{{ project.data.photo_url }}?tr=w-400, {{ project.data.photo_url }}?tr=w-800 2x" src="{{ project.data.photo_url }}?tr=w-800" alt="{{ project.data.title }}"></img>
          <video muted loop playsinline class="video-item w-full mouse:block hidden" src="{{ project.data.gifv_url }}"></video>
        {% elsif project.data.gif_url %}
          <img class="w-full object-cover group-hover:hidden block absolute top-0 left-0 bottom-0 right-0 h-full" src="{{ project.data.photo_url }}" alt="{{ project.data.title }}"></img>
          <img class="w-full" src="{{ project.data.gif_url }}" alt="{{ project.data.title }}"></img>
        {% elsif project.data.video_url %}
          <img class="w-full group-hover:hidden block notmouse:block" srcset="{{ project.data.photo_url }}?tr=w-400, {{ project.data.photo_url }}?tr=w-800 2x" src="{{ project.data.photo_url }}?tr=w-800" alt="{{ project.data.title }}"></img>
          <video muted loop playsinline class="video-item w-full notmouse:hidden group-hover:block hidden" src="{{ project.data.video_url }}"></video>
        {% else %}
          <img class="w-full" srcset="{{ project.data.photo_url }}?tr=w-400, {{ project.data.photo_url }}?tr=w-800 2x" src="{{ project.data.photo_url }}?tr=w-800" alt="{{ project.data.title }}"></img>
        {% endif %}
      </div>
      <div class="absolute w-full h-full top-0 left-0 opacity-30 pointer-events-none bg-black"></div>
      <div class="absolute top-0 flex w-full h-full justify-center items-center h-full group-hover:opacity-100 sm:opacity-70 opacity-100 transition-opacity pointer-events-none">
        <h3 class="md:text-4xl sm:text-3xl text-2xl px-6 text-center tracking-wide sm:text-slate-100 text-white group-hover:text-white group-hover:tracking-wider transition-all group-hover:scale-105 pointer-events-none opacity-100 font-sans font-bold drop-shadow">{{ project.data.list_title }}</h3>
      </div>
    </div>
  </a>
</div>
