<nav class="my-5 flex lg:flex-row flex-col lg:justify-between w-full items-center animate-appear-quicker opacity-0">
  <a href="/">
    {% render "title", color: color, class: class | default: "md:h-14 h-6" %}
  </a>
  <div class="flex lg:mt-0 mt-3 space-x-5 md:text-2xl items-center text-md font-bold {% if color == "black" %}text-slate-700{% else %}text-slate-200{% endif %} font-sans">
    {% assign nav_items = collections.navpage | sort: "data.order" %}
    {% for item in nav_items %}
      <a class="px-3 py-2 inline md:hidden" href="{{ item.url }}">{{ item.data.short_title }}</a>
      <a class="px-3 py-2 hover:text-{{ color }} hover:underline hover:scale-105 transition-transform md:inline hidden" href="{{ item.url }}">{{ item.data.title }}</a>
    {% endfor %}
  </div>
</nav>
